name: simple_expense_app
description: A simple expense tracker connected to Firebase Firestore.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ">=2.18.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  provider: ^6.0.5          # State management
  firebase_core: ^3.6.0     # Firebase Core
  cloud_firestore: ^5.4.0   # Firestore Database

 
  intl: ^0.18.1

dev_dependencies:
  flutter_test:
    sdk: flutter
